@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::after,
*::before {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #3e3e3e;
  box-sizing: border-box;
}

.white-icon * {
  color: white;
}

.red-icon * {
  cursor: pointer;
  color: #FF5353;
}

.auth-menu {
  max-width: 400px;
}